body{
  font-family:  "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
  text-decoration:none
}
h1{
  color: white;
}

nav ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}

nav ul li {
	display:inline-block;
	background-color: #521e82;
	}

nav a {
	display:block;
	padding:0 10px;
	color:#FFF;
	font-size:18px;
	line-height: 60px;
	text-decoration:none;
}

nav a:hover {
	background-color: #3b1d63;
}

/* Hide Dropdowns by Default */
nav ul ul {
	display: none;
	position: absolute;
	top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}

/* First Tier Dropdown */
nav ul ul li {
	width:160px;
	float:none;
	display:list-item;
	position: relative -10px;
}
.nav{
  z-index: 3;
  flex:10;
  font-size: 14px;
  text-align:center;
  text-transform: uppercase;

}
.content-select{
  background: #3b1d63;
  display: inline-block;
  border-radius: 7px;
  margin-left: 5px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  color:white;
  text-transform: uppercase;
  line-height: 10px;
}
.content-select:hover {
	background-color: #521e82;
}
.content{
  border-style: solid;
  border-color: #521e82;
  border-radius: 13px;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: -10px;
  height: 500px;
  background: white;
  position: relative;
  z-index: 2;
}
.filters{

  border-radius: 7px;
  margin: 10px;
  text-align: center;
}
.footer{
  background: #521e82;
  height: 200px;
}

#navbar {
  display:flex;
  height:60px;
  width:100%;
  background-color:#521e82;
  top:2em;
  padding-left: 20px;

}

#logo{
  flex:15;
  text-align:left;
}

#page{
  background: grey;
  padding: 0px;
  padding-top: 10px;
}

#Calendar{
  margin-left: 30px;
}
#leftcol{
   float:left;
   width:15%;
   height: 270px;
}
#rightcol{
   float:right;
   width:80%;
}

#division{
  background-color: #521e82;
  float: left;
  width: 4px;
  height: 500px;
}
