body{
 text-decoration: none;
 font-family:  Arial, sans-serif, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
 margin: 0px;
}
a {
 text-decoration:none
}
h1{
 color: white;
}

nav ul {
 padding:0;
 margin:0;
 list-style: none;
 position: relative;
 }

nav ul li {
 display:inline-block;
 background-color: #521e82;
 }

nav a {
 display:block;
 padding:0 10px;
 color:#FFF;
 font-size:18px;
 line-height: 60px;
 text-decoration:none;
}

nav a:hover {
 background-color: #3b1d63;
}

/* Hide Dropdowns by Default */
nav ul ul {
 display: none;
 position: absolute;
 top: 60px;
}

/* Display Dropdowns on Hover */
nav ul li:hover > ul {
 display:inherit;
}

/* First Tier Dropdown */
nav ul ul li {
 width:160px;
 float:none;
 display:list-item;
 position: relative;
 right: 28px;
}
.nav{
 z-index: 3;
 flex:12;
 font-size: 14px;
 text-align:center;
 text-transform: uppercase;

}

.tab-menu li {
 position:relative;
 background-color: #521e82;
 color:#fff;
 display: inline-block;
 padding: 20px 40px;
 opacity: 0.8;
 cursor:pointer;
 z-index:0;
}

.tab-menu li:hover {
 color:#fff;
}

.tab-menu li.active {
 color:#fff;
 opacity: 1;
}

.tab-menu li.active:hover {
 color:#fff;
}

.tab-content>div {
 background-color: #fff;
 box-sizing:border-box;
 width: 100%;
}

.line {
 position:absolute;
 width: 0;
 height: 7px;
 background-color: #fff;
 top: 0;
 left: 0;
}

.content{
 margin-bottom: 10px;
 margin-top: 0px;
 min-height: 500px;
 height: 100%;
 overflow: auto;
 background: white;
 position: relative;
 width:100%;
 min-width: 1200px;
 z-index: 2;
}
.filters {
 padding-left: 30px;
 padding-right: 20px;
 text-align: left;
 list-style-type: none;
}
.filters ul{
 padding: 0px;
 list-style-type: none;
}
.page{
 background: #464646;
 padding: 0px;
 padding-top: 10px;
 width:100%;
 height: 100%;
 min-width: 1200px;
}
.footer{
 background: #521e82;
 height: 200px;
 width:100%;
 min-width: 1200px;
}

#navbar {
 display:flex;
 height:60px;
 width:100%;
 min-width: 1000px;
 background-color:#521e82;
 top:2em;

}

#logo{
 padding-left: 20px;
 flex:15;
 text-align:left;
}

#rightcol{
	float:right;
	width:80%;
	height: 100%;
}
#leftcol{
	float:left;
	width: auto;
	height: 100%;
}

#calendar {
	width: 100%;
	margin: 30px;
	margin-left: 0px auto;
}
