<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles1.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ url_for('scripts', filename='tabmenu.js') }}"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="tab-wrapper">

      <ul class="tab-menu">
        <li class="active">Calendar</li>
        <li>Groups</li>
        <li>Resources</li>
      </ul>

      <div class="tab-content">
        <div>

        </div>
        <div>

        </div>
        <div>

        </div>
      </div><!-- //tab-content -->

    </div><!-- //tab-wrapper -->
  </body>
</html>
