<!DOCTYPE html>
<html>

<head>
	{% block head %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - WesternUEvents</title>
	{% endblock %}
</head>

<body>
  <div id="navbar">
    <div class='nav' id="logo">
      <a href="/">
        <h1>Western University Events</h1>
      </a>
    </div>
    <nav class="nav">

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/email">Email Signup</a></li>
        <li><a href="/shareevent">Share</a>
          <!-- First Tier Drop Down -->
          <ul>
            <li><a href="/shareevent">Event</a></li>
            <li><a href="/sharelink">Link</a></li>
            <li><a href="/sharesource">Source</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
  <div class="page">{% block page %}{% endblock %}
  </div>
  <div class="footer">
		{% block footer %}
		 <span style="padding-right:15em;">&copy; 2015 <a href="http://www.dragosrotaru.com/">Dragos Rotaru</a></span> This unofficial website is not affiliated to Western University  <span style="padding-left:15em;"> Contact: drotaru@uwo.ca</span>

		{% endblock %}
  </div>
</body>

</html>
