{% extends "layout.html" %} {% block title %}shareevent{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block page %}
<h1>Add Event</h1>
<div id="page">
  <form action="" method="post" name="sharelink">
    {{ form.hidden_tag() }}
    <p>
      <br>
      <br>
      <br> URL: {{ form.url() }}
      <br> {% for error in form.url.errors %}
      <span style="color: red;">{{ error }} make sure you include http://...</span> {% endfor %}
      <br>
      <br> {{ form.recaptcha }} {% for error in form.recaptcha.errors %}
      <span style="color: red;">Please confirm humanity</span> {% endfor %}
      <br>
    </p>
    <p>
      <input type="submit" value="Send">
    </p>
</div>
{% endblock %} {% block footer %} {{ super() }} {% endblock %}
